<header class="topo">
  <div class="logo">⚙️ Sistema de Manutenção - CDG</div>

  <nav class="menu">
    <a href="/admin/dashboard">Dashboard</a>
    <a href="/admin/equipamentos">Equipamentos</a>
    <a href="/admin/ordens">Ordens</a>
    <a href="/admin/logout" class="sair">Sair</a>
  </nav>
</header>
