<%- include("../partials/cabecalho") %>

<h1 class="page-title">
    <i class="fa-solid fa-gears"></i>
    Cadastrar Correia
</h1>

<div class="card form-card">

    <% if (error) { %>
        <div class="alert alert-error"><%= error %></div>
    <% } %>

    <form action="/correias/novo" method="POST" class="formulario">

        <div class="form-grid">

            <!-- Nome -->
            <div class="grupo">
                <label>Nome da Correia</label>
                <input type="text" name="nome" required>
            </div>

            <!-- Modelo -->
            <div class="grupo">
                <label>Modelo</label>
                <input type="text" name="modelo">
            </div>

            <!-- Medida -->
            <div class="grupo">
                <label>Medida</label>
                <input type="text" name="medida">
            </div>

            <!-- Quantidade -->
            <div class="grupo">
                <label>Quantidade em Estoque</label>
                <input type="number" name="quantidade" min="0" value="0">
            </div>

        </div> <!-- /form-grid -->

        <button class="btn btn-verde-claro btn-full">
            <i class="fa-solid fa-floppy-disk"></i>
            Cadastrar Correia
        </button>

    </form>

</div>

<div class="voltar-box">
    <a href="/correias" class="btn btn-cinza-escuro">
        â† Voltar
    </a>
</div>

<%- include("../partial
